body.blog-page {
    h1 {
        color: var(--orange);
        text-transform: uppercase;
        margin: 10px auto 0;
    }

    img:first-of-type {
        max-width: unset;
        width: 100%;
    }

    @media screen and (width < 992px) {
        main>.section-outer>.section,
        footer .section-outer>.section,
        .block .container {
            max-width: 100%;
            padding: 1.5rem 1rem;
        }
    }
}