body.blog-page {
    h1 {
        color: var(--orange);
        text-transform: uppercase;
        margin: 10px auto 0;
    }

    @media screen and (width < 992px) {
        main>.section-outer>.section,
        footer .section-outer>.section,
        .block .container {
            max-width: 100%;
        }
    }
}