/* stylelint-disable no-descending-specificity */
.columns > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.columns.columns-2-cols > div { gap: 3rem; }
.columns.gap-0 > div { gap: 0; }
.columns.gap-1 > div { gap: 1rem; }
.columns.gap-2 > div { gap: 2rem; }
.columns.gap-3 > div { gap: 3rem; }
.columns.gap-4 > div { gap: 4rem; }

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .media {
  order: 0;
}

.columns.vertical-center .copy {
  align-content: center;
}

.columns > div > .media img {
  display: block;
}

.section.columns-container:has(.columns.media-unbound),
.section.columns-container:has(.columns.steps) {
    max-width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.section.columns-container:has(.columns.steps) {
    padding: 0;
}

.columns.media-unbound > div {
  position: relative;

  .copy { 
      margin: 0 1.5rem;
  }
}

/* Types */
.columns.stats {
  text-align: center;

  p { margin: 0; }
  
  p:first-of-type { margin-bottom: .5rem; }
    
  strong {
    color: var(--ca-aqua);
    font-family: var(--heading-font-family);
    font-size: 48px;
    line-height: 51px;
  }
}

.columns.stats > div { gap: 3rem; }

.columns.steps > div {
  gap: 0;
  counter-reset: ca-step-counter;
}

.columns.divided-list > div {  gap: 0 3rem; }

.columns.stats > div > div {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 80%;
    bottom: -1.8rem;
    left: 10%;
    border: dotted var(--ca-sunshine-400);
    border-width: 0 0 5px;
  }
  
  &:last-of-type::after {
    display: none;
  }
}

.columns.steps { text-align: center; }

.columns.steps > div > div {
  padding: 10rem 3rem 1.5rem;
  position: relative;
  counter-increment: ca-step-counter;

  &::before {
    position: absolute;
    top: 1.5rem;
    left: calc(50% - 58px);
    content: counter(ca-step-counter) ".";
    background: var(--ca-tangerine-400);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    line-height: 0;
    font-size: 38px;
    font-family: var(--ff-acceptance-demi-bold);
    color: var(--ca-indigo-700);
  }
  
  &:nth-child(1) {  
    background: var(--ca-indigo-700);  
    color: white;
  }

  &:nth-child(2) {  
    background: var(--ca-tangerine-400);

    &::before {
      background-color: var(--ca-sunshine-400);
    } 
  }

  &:nth-child(3) {  
    background: var(--ca-sunshine-400);
    
    &::before {
      background-color: var(--ca-indigo-700);
      color: var(--ca-tangerine-400);
    }   
  }
}

.columns.divided-list { padding-block-end: 3rem; }

.columns.divided-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.columns.divided-list ul li {
  padding: 1rem 0;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;

  .icon,
  picture {
    margin-inline-end: .75rem;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
}

.columns .button-container > p:last-child { margin-top: 0; }

.columns.big-numbered-list ol {
  margin-inline-start: 0;
  padding-inline-start: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: calc(100% - 45px);
    left: 48px;
    top: 25px;
    display: block;
    border-left: 5px dotted var(--ca-tangerine-500);
  }
}

.columns.big-numbered-list ol li {
  padding: 45px 0 45px 120px;
  position: relative;

  &::before {
    top: calc(50% - 50px);
    left: 0;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: var(--ca-eggshell-100);
    color: black;
    font-size: 53px;
    font-family: var(--heading-font-family);
  }
}

.columns.divided-list.list-spacing ul li {  padding: 2.5rem 0; }

.columns.divided-list.list-spacing ul li .icon { 
  height: 80px;
  width: 80px; 
}

.columns .cta-icons {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  top: -100%;
  position: relative;
}

.columns.dot-separator > div {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 5px dotted var(--ca-eggshell-400);
}

.columns.dot-separator > div:last-child {
  border-bottom: 5px dotted var(--ca-eggshell-400);
}

.columns.icons-col .icon, .cta-icons .icon {
  height: unset;
  width: unset;
}

.columns.icons-col > div > :first-child {
  flex: 0 0 25%;
}

.columns.icons-col h4 {
  color: var(--credit-indigo);
}

.columns.bg-shape-right > div > :nth-child(2){
    position: relative;
    overflow: hidden;
    z-index: 0;

    ol { margin: 3rem 1rem 2rem 8rem; }
    
    &::after {
        position: absolute;
        background: white;
        border-radius: 192px 0 0 32px;
        content: '';
        width: 100vw;
        height: 100%;
        display: block;
        top: 0;
        left: 8px;
        box-shadow: -8px -8px 0 #0f7d9c11, inset 8px -8px 0 #FFCC4A55;
        z-index: -1;
    }
}

.columns.calculation > div {
    font-family: var(--ff-acceptance-regular);
    row-gap: 0.5rem;
}

.columns.calculation > div > div{
    display: flex;
    flex-flow: row;
    gap: 0.5rem 1rem;
}

.columns.calculation .second-group {
    display: flex;
    justify-content: center;
}

.columns.calculation .separator {
    width: 100%;
    border-top: 2px solid var(--pure-black);
} 


/* mobile-tablet only */
@media screen and (width <= 959px) {
    .columns.media-hidden-mobile .media-count-1 {
        display: none;
    }

    .columns.big-icons .copy {
      display: grid;
      grid-template-columns: 24px 1fr;
      grid-template-rows: auto auto;
      gap: 0 32px;
    }
  
    .columns.big-icons .copy > p:first-of-type {
      grid-row: span 2;
      align-self: center;
    }
  
    .columns.big-icons .copy > p:not(:first-of-type) {
      margin-top: 0;
    }
}

@media screen and (width < 576px) {
  .columns.col-mobile-reverse > div {
    flex-direction: column-reverse;
  }
}

@media screen and (width >= 576px) {
  .columns.media-unbound > div div:not(.media) { 
    margin: 0 auto;
    width: var(--container-width);
    max-width: var(--container-width);
  }

  .columns.stats > div > div::after {
    width: 50%;
    left: 25%;
  }
}

@media screen and (width >= 960px) {
  .columns > div {
	  flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
	
  .section.columns-container:has(.columns.media-unbound) {
    margin: 0 auto;
    max-width: var(--container-width);
  }

  .columns.media-unbound .media-count-1 {
    position: relative;

    picture {
      position: absolute;
      width: 50vw;
      height: 100%;
      overflow: visible;
    }

    img {
      object-fit: cover;
      object-position: bottom left;
      width: 100%;
      height: 100%;
      border-radius: 8px 0 0;
    }
  }

  .columns.media-unbound .media-left picture {
    right: 0;
  }

  .columns.media-unbound .media-left img {
    object-position: bottom right;
    border-radius: 0 8px;
  }

  .columns.stats > div {
    gap: 1.5rem;
  }
  
  .columns.stats > div > div::after {
      border-width: 0 0 0 5px;
      height: 100%;
      left: auto;
      right: -0.9rem;
      top: 0;
      width: auto;
  }

  .columns.steps > div > div {
    padding-top: 6rem;
    
    &::before {
      top: -58px;
    }
  }

  .columns.calculation > div {
    justify-content: center;
  }

  .columns.columns.calculation > div > div {
    flex: 0 1 auto;
    gap: 1.5rem;

  }

  .columns.calculation .separator {
    display: none;
  }
}
