main > .section-outer > .section.image-text-overlay-container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.image-text-overlay {
  .image {
    margin-block-end: 1rem;

    picture {
      height: 100%;
    }
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .button-container {
    text-align: center;
  }
}
  
  /* mobile-only */
  @media screen and (width <= 959px) {
    .card {
      padding: 1rem;
      margin: 1rem;
      border-radius: 11px;
      box-shadow: 0 2px 6px #0000001f, 0 4px 25px #00000024;
      transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow;
  
      &:hover {
        box-shadow: 0 8px 54px #0003, 0 4px 8px #0000003b;
        transform: scale(1.05);
      }
    }
  }
  
  /* desktop up */
@media screen and (width >= 960px) {
  .image-text-overlay {
    display: flex;
    gap: 1rem;
  }

  .card {
    height: 100%;
    display: flex;
    align-items: end;
    position: relative;
    flex-grow: 1;

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      
      p,
      picture {
        height: 100%;
        margin: 0;
      }
    }

    .copy {
      background-color: white;
      padding: 1rem;
      z-index: 0;
      max-width: 400px;
      margin: 12rem auto 0;
    }
  }
}

 