body {
    background-color: #F6F6F6;
  }

  main .intro {
    font-size: 1.2rem;
  }

  main input {
    width: 100%;
    font-size: 2rem;
    border: none;
    border-bottom: solid 1px grey;
    padding-top: 5px;
    font-family: inherit;
  }

  main .filter {
    padding: 20px 10px;
  }

  #selected {
    position: fixed;
    bottom: 0;
    background-color: #E7E2DA;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    display: grid;
    gap: 1rem;
    z-index: 1;
  }

  main #selected {
    padding: 30px;
  }

  #selected button {
    background-color: #F25749;
    color: white;
    border: 1px solid white;
    font-size: 13px;
  }

  main #selected button {
    border-radius: 1em;
    padding: 5px 20px;
  }

  #results {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 350px;
  }

  #results > .category {
    user-select: none;
    display: flex;
    flex-flow: column wrap;
  }

  main > div > span,
  main > div > div > span {
    white-space: nowrap;
    margin: 6px 4px;
  }

  main {
    font-family: system-ui, Arial;
    padding: 20px;
    font-size: 1.3rem;
    line-height: 1.2em;
  }

  span.tag {
    color: white;
    padding: 2px 20px;
    border-radius: 10px;
    font-size: 16px;
  }

  .tag {
    padding-top: 5px;
  }

  .selected span.tag {
    background-color: #888;
    color: lightgrey;
  }

  .tag.cat-0, .tag.cat-8 {
    background-color: #C83192;
  }

  .tag.cat-1, .tag.cat-9 {
    background-color: #5E2967;
  }

  .tag.cat-2, .tag.cat-10 {
    background-color: #419e66;
  }

  .tag.cat-3 {
    background-color: #f05b32;
  }

  .tag.cat-4 {
    background-color: #31409A;
  }

  .tag.cat-5 {
    background-color: #77001a;
  }

  .tag.cat-6 {
    background-color: #E21D46;
  }

  .tag.cat-7 {
    background-color: #1E7DDD;
  }

  span.tag .highlight {
    font-weight: 700;
    color: white;
  }

  span.path {
    cursor: pointer;
    border-radius: 10px;
    border: 1px dashed black;
    padding: 4px 10px 2px;
    font-size: 12px;
  }

  span.path.filtered {
    display: none;
  }

  span.psep {
    font-size: 20px;
    font-weight: bold;
  }

  @media (min-width: 600px) {
    #selected {
      grid-template-columns: 1fr 100px;
    }
  }

  #selected button:disabled {
    background-color: #ccc;
    color: grey;
  }

  .selected-tags {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
  }

  .hidden {
    display: none !important;
  }

  .offscreen {
    position: absolute;
    top: -1000px;
  }

  #palette {
    margin: 0 0 1rem;
    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: masonry;
        margin: 0;
        padding: 0;
        background: #eaeaea;
        font-size: 14px;
        li {
            position: relative;
            padding: .5rem;
        }
        li:hover {
            background-color: white;
            cursor: pointer;
        }
        li.copied {
            background-color: #cccccc;
            &::after {
                position: absolute;
                content: attr(data-name) ' copied';
                top: 8px;
                right: 6px;
                display: block;
                padding: 4px 4px;
                background-color: rgb(234, 255, 234);
                font-size: 12px;
                border: 1px solid rgb(95, 176, 95);
                line-height: 12px;
            }
        }
        .label p { 
            margin: .5rem 0 0;
            padding: 0;
        }
        .label p.value {
            font-size: 16px;
            margin: 0;
        }
        .swatch {
            margin: 0;
            padding: 0;
            height: 50px;
            width: 100%;
            display: block;
            border: 1px solid black;
        }
      }
  }
