.carousel {
  position: relative;
  padding: 12px 0;
}

.carousel .carousel-slides-container {
  overflow: hidden;
  width: calc(100% - 80px);
  margin: 0 auto;
}

.carousel .carousel-slides,
.carousel .carousel-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel .carousel-slides {
  display: flex;
  width: 100%;
  position: relative;
  left: 0;
  transition: left 0.3s ease-out;
}

.carousel .carousel-slides::-webkit-scrollbar {
  display: none;
}

.carousel .carousel-slide {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 0;
}

.carousel-slide-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% - 24px);
  flex-direction: column;
  max-height: 220px;
}

.carousel.carousel.aspect-ratio-rectangle .carousel-slide-image {
  justify-content: flex-start;
} 

.carousel .carousel-slide .carousel-slide-image picture {
  width: 100%;
}

.carousel .carousel-slide .carousel-slide-image picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: flex;
}

.carousel.aspect-ratio-square .carousel-slide .carousel-slide-image picture > img {
  aspect-ratio: 1 / 1;
}

.carousel.aspect-ratio-rectangle .carousel-slide .carousel-slide-image picture > img {
  aspect-ratio: 1.67 / 1;
}

.carousel.slides-per-view-3 .carousel-slide .carousel-slide-image  {
  max-width: 220px;
}

.carousel .carousel-slide-indicators {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 12px;
  padding: 12px;
  line-height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.carousel.pagination {
  margin-bottom: 48px;
}

.carousel.pagination .carousel-slide-indicators {
  display: flex;
}

.carousel .carousel-slide-indicator button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #dadada;
  transition: background-color 0.2s;
}

.carousel .carousel-navigation-buttons button {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
}

.carousel .carousel-navigation-buttons button:disabled {
  opacity: 0.5;
}

.carousel .carousel-slide-indicator button:disabled,
.carousel .carousel-slide-indicator button:hover,
.carousel .carousel-slide-indicator button:focus-visible {
  background-color: #000;
}

.carousel .carousel-navigation-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

@media (width >= 960px) {
  .carousel.slides-per-view-2 .carousel-slide { 
    flex: 0 0 50%; 
    width: 50%; 
  }

  .carousel.slides-per-view-3 .carousel-slide { 
    flex: 0 0 33.33%; 
    width: 33.33%; 
  }
  
  .carousel.slides-per-view-4 .carousel-slide { 
    flex: 0 0 25%;
    width: 25%; 
  }
}
