.embed-wrapper {
    width: 100%;
}

.embed {
  width: unset;
  text-align: center;
  margin: 32px auto;
  max-width: 1000px;
  background-color: #fff;
  height: 100%;
  
  &.youtube, &.vimeo {
    min-height: 225px;
  }
}

.embed .embed-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.embed .embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}

.embed .embed-placeholder-play button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}

lite-vimeo, lite-youtube, lite-vimeo-showcase {
  container: playbutton / inline-size;
  background-color: var(--laz-black);
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  aspect-ratio: 16 / 9;
  margin: auto;
  top: 50%;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==');
    background-position: top;
    background-repeat: repeat-x;
    height: 100px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
  }

  > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
  }

  > .ltv-playbtn, > .lty-playbtn {
    --size: clamp(60px, 12cqw, 120px);

    width: var(--size);
    height: var(--size);
    position: absolute;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: transparent;
    background-image: url('/icons/circle-play.svg');
    transition: all .4s;
    border: none;
  }

  &:hover {
    > .ltv-playbtn, > .lty-playbtn {
      background-image: url('/icons/circle-play-white.svg');
    }
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
  }

  &.lyt-activated, &.ltv-activated {
    cursor: unset;

    &::before, > .ltv-playbtn, > .lty-playbtn {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.lyt-visually-hidden {
  clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.embed.showcase.no-video-description, .block.showcase-video.no-video-description {
    .video-description {
      display: none;
  }
}

.embed.showcase, .block.showcase-video .embed.block {
  padding: 40px 15px 0;
  max-width: 1050px;
  border-radius: 16.7px;
  background-color: #fff;
  box-shadow: 0 9px 82px #0000001a,0 3px 12px #00000021;
  margin-bottom: 4rem;
  text-align: left;

  h5 {
    margin-top: 2rem;
    padding-bottom: 15px;
    margin-left: 10px;
  }

  p {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    margin-left: 10px;
  }

  lite-vimeo-showcase, lite-vimeo {
    border-radius: 20px;
  }
}

@media (width >= 600px) {
  .embed {
      &.youtube, &.vimeo {
      min-height: 280px;
      }
  }
}

@media (width >= 768px) {
  .embed {
      &.youtube, &.vimeo {
      min-height: 370px;
      }
  }
}

@media screen and (width >= 960px) {
  .embed.video-border :has(lite-vimeo, lite-youtube) {
    border: 1px solid #E8E8E0;
    padding: 25px;
  }
}

@media (width >= 1024px) {
  .embed {
    &.youtube, &.vimeo {
      min-height: 420px;
    }
  }
}
