footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  padding: 40px 12px 12px;
}

footer .footer p {
  margin: 0;
}

.footer .default-content-wrapper {
    margin-block-start: 48px;
}

.footer .default-content-wrapper ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-inline: -12px;
    margin-block: 0 16px;
}

.footer .default-content-wrapper ul li {
    padding-inline: 12px;
    list-style-type: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    color: #3d5470;
    width: 100%;
}

.footer .default-content-wrapper ul li:not(:last-child){
        border-right: 1px solid #1b1b1b;
}

.footer .default-content-wrapper p ,
.footer .default-content-wrapper ul li a {
    font-size: 12px;
    font-weight: 500;
    color: #3d5470;
}

.footer .default-content-wrapper p {
    margin-block-end: 16px;
}

.footer .footer-images-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-block-start: 24px;
    padding-block: 48px;

}

.footer .footer-images-container a {
    flex-shrink: 0;
}

.footer .footer-images-container .icon {
    width: unset;
    height: unset;
}

@media screen and (width >= 768px) {
    .footer .default-content-wrapper ul li {
        width: auto;
    } 
}

@media (width >= 992px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
