/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --light-color: #f8f8f8;
  --light-gray: #f8f9fa;
  --dark-gray: #666663;
  --text-color: #171714;
  --text-color-light: #fff;
  --soft-gray: #DBDBD6;
  --soft-white: #FCFCFA;
  --medium-gray: #DADADA;
  --very-light-gray: #fcfcfc;
  --black-olive: #171714;
  --pure-white: #fff;
  --pure-black: #000;
  --primary-black: #171714;
  --secondary-brown: #e8e8e0;
  --credit-violet: #14A1C8;
  --credit-indigo: #2b4361;
  --credit-iconography-blue: #40ABDE;
  --button-bg-blue: #c4eefa;
  --orange: #fa6400;
  --tertiary-indigo: #3d5470;
  --validation-error: #ea1010;

  /* link text color */
  --link-text-color: oklch(62% 0.09 264deg);
  --link-text-color-hover: oklch(52% 0.09 264deg);
  --link-text-color-visited: oklch(52% 0.09 264deg);
  --link-text-color-light: oklch(82% 0.09 264deg);
  --link-text-color-light-hover: oklch(92% 0.09 264deg);
  --link-text-color-light-visited: oklch(92% 0.09 264deg);

  /* buttons */
  --btn-primary-bg: oklch(83% 0.17 81.97deg / 100%);
  --btn-primary-bg-hover: oklch(73% 0.14 81.97deg);
  --btn-primary-blue-bg: oklch(91% 0.11 233.5deg);
  --btn-primary-blue-bg-hover: oklch(84% 0.11 233.5deg);
  --btn-secondary-border: oklch(38% 0.06 254.57deg / 100%);
  --btn-secondary-border-hover: oklch(27% 0.05 238.22deg / 100%);

  /* borders */
  --bs-border-color: #dee2e6;

  /* fonts */
  --body-font-family: 'Visibly Regular', visby-regular-fallback, sans-serif;
  --heading-font-family: 'Acceptance Bold', acceptance-bold-fallback, sans-serif;
  --ff-acceptance-demi-bold: 'Acceptance DemiBold', acceptance-demi-bold-fallback, sans-serif;
  --ff-acceptance-extra-bold: 'Acceptance ExtraBold', acceptance-extrabold-fallback, sans-serif;
  --ff-acceptance-medium: 'Acceptance Medium', acceptance-medium-normal-400-fallback, sans-serif;
  --ff-acceptance-regular: 'Acceptance Regular', acceptance-regular-fallback, sans-serif;
  --ff-arial: 'Arial', sans-serif;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 10px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 22px;
  --heading-font-size-s: 20px;

  /* font weights */
   --font-weight-light: 300;
   --font-weight-normal: 400;
   --font-weight-medium: 500;
   --font-weight-bold: 600;
   --font-weight-extra-bold: 700;

  /* nav height */
  --nav-height: 52px;
    
  /* containers */
  --container-width: 100%;

  /* gaps */
  --gap-xs: 12px;
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 32px;
  --gap-xl: 48px;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

picture {
  line-height: 0;
  display: block;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-style: none;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}


main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  scroll-margin: 40px;
  
  > .icon:first-child { 
    margin-inline-end: .5rem;
    vertical-align: text-top;

    img { margin-top: 5px; }
  }
}

h1 { 
  font-size: var(--heading-font-size-xxl);
  font-weight: var(--font-weight-extra-bold);
  line-height: 50px;
}

h2 { 
  font-size: var(--heading-font-size-xl);
  font-family: var(--heading-font-family);
  margin-bottom: 0.75rem;
  font-weight: 700;
}

h3 { 
  line-height: 34px;
  font-family: var(--ff-acceptance-medium);
  font-size: var(--heading-font-size-l);
  font-weight: 500;
  margin-bottom: .75rem;
}

h4 { 
  font-size: var(--heading-font-size-s);
}

h5 { 
  font-family: var(--ff-acceptance-regular);
  font-size: var(--heading-font-size-s); 
  color: var(--credit-indigo);
}

h6 { font-size: var(--heading-font-size-xs); }

ul, ol {
  li{
      margin-bottom: 1rem;
  }
}

b, strong {
  font-weight: bolder;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

p {
  font-size: var(--body-font-size-m);
  line-height: 26px;
}

.center {
  text-align: center;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

input,
textarea,
select,
button {
  font: inherit;
}

.ca-list ol {
  --number-size: 27px;

  counter-reset: ca-counter;
  list-style: none;
  margin-inline-start: var(--number-size);
  padding-inline-start: .75rem;
  position: relative;

  li {  counter-increment: ca-counter; }
  
  li::before {
      background: var(--credit-indigo);
      border-radius: 50%;
      color: white;
      content: counter(ca-counter);
      font-family: var(--ff-acceptance-demi-bold);
      font-size: 12px;
      height: var(--number-size);
      left: calc(var(--number-size) * -1);
      line-height: var(--number-size);
      position: absolute;
      text-align: center;
      width: var(--number-size);
  }
}

/* links */
a {
  color: var(--link-text-color);
  font-weight: 700;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--link-text-color-hover);
  text-decoration: underline;
}

a:visited {
  color: var(--link-text-color-visited);
}

/* Light Text */
.light-text {
  --text-color: var(--text-color-light);

  color: var(--text-color);

  a { color: var(--link-text-color-light); }

  a:hover,
  a:focus,
  a:active {
      color: var(--link-text-color-light-hover);
  }

  a:visited {
      color: var(--link-text-color-light-visited);
  }
}

/* buttons */
a.button,
button {
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  letter-spacing: .4px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  text-decoration: none;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--btn-primary-bg-hover);
  color: var(--text-color);
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.primary {
  background-color: var(--btn-primary-bg);
  color: var(--text-color);
  border: 1px solid var(--btn-primary-bg);
  padding: .5rem 1.5rem;
  border-radius: .375rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

a.button.primary:focus,
button.primary:focus,
a.button.primary:hover,
button.primary:hover {
  background-color: var(--btn-primary-bg-hover);
  border-color: var(--btn-primary-bg-hover);
  color: var(--pure-black);
}

a.button.primary.blue {
  background-color: var(--btn-primary-blue-bg);
  border-color: var(--btn-primary-blue-bg);
}

a.button.primary.blue:focus,
button.primary.blue:focus,
a.button.primary.blue:hover,
button.primary.blue:hover {
  background-color: var(--btn-primary-blue-bg-hover);
  border-color: var(--btn-primary-blue-bg-hover);
}

a.button.secondary,
button.secondary {
  border: 2px solid var(--btn-secondary-border);
  border-radius: 19px;
  background-color: var(--very-light-gray);
  color: var(--btn-secondary-border);
  padding: .3rem 2rem;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out; /* Add transition for smooth effect */
}

a.button.secondary:focus,
button.secondary:focus,
a.button.secondary:hover,
button.secondary:hover {
  box-shadow: inset 0 0 0 1px var(--btn-secondary-border-hover); /* Simulate border increase */
  color: var(--btn-secondary-border-hover);
}

.section > .default-content-wrapper {
  padding: 1.5rem 1rem;

  h3, h4 {
    margin-top: 3rem;
  }
}

.marquee .background .tablet-only,
.marquee .background .desktop-only {
    display: none;
}

/* sections */
main > .section:first-of-type {
  margin-top: 0;
}

main > .section-outer > .section,
footer .section-outer > .section,
main.error .section-outer .section:not(.marquee-container),
.block .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

main > .section-outer > .section.width-100 {
  max-width: 100%;
}

main > .section-outer > .section.width-75 > div {
  width: 75%;
}

/* section & block spacing */
main > .section-outer > .section.spacing-0 {
  padding-top: 0;
  padding-bottom: 0;
}

main > .section-outer > .section.spacing-1,
.block.spacing-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main > .section-outer > .section.spacing-2,
.block.spacing-2  {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main > .section-outer > .section.spacing-3,
.block.spacing-3  {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main > .section-outer > .section.spacing-4,
.block.spacing-4  {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.block.spacing-1.has-bg {
  padding-left: 1rem;
  padding-right: 1rem;
}

.block.spacing-2.has-bg {
  padding-left: 2rem;
  padding-right: 2rem;
}

.block.spacing-3.has-bg {
  padding-left: 3rem;
  padding-right: 3rem;
}

.block.spacing-4.has-bg {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* section/block utils */
.section-outer > .section.center,
.block.center{
  text-align: center;
}

.section-outer > .section.right,
.block.right{
  text-align: right;
}

/* Grid Section */
.grid-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  .span-1 { grid-column: span 1; }
  .span-2 { grid-column: span 2; }
  .span-3 { grid-column: span 3; }
  .span-4 { grid-column: span 4; }
  .span-5 { grid-column: span 5; }
  .span-6 { grid-column: span 6; }
  .span-7 { grid-column: span 7; }
  .span-8 { grid-column: span 8; }
  .span-9 { grid-column: span 9; }
  .span-10 { grid-column: span 10; }
  .span-11 { grid-column: span 11; }

  /* helpers */
  &.grid-justify-items-center {
      justify-items: center;
  }
}

.section.grid-section > .default-content-wrapper {
    max-width: unset;
    margin: unset;
    padding: unset;
}

/* Animations */
.animation-scale {
  transform: scale(1);
  transition: transform 0.15s ease-in-out;
}

@media screen and (width >= 576px) {
  main > .section-outer > .section,
  footer .section-outer > .section,
  main.error .section-outer .section:not(.marquee-container),
  .block .container {
    max-width: var(--container-width);
    padding-left: 0;
    padding-right: 0;
  }
  
  .section > .default-content-wrapper {
    max-width: var(--container-width);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  :root {  --container-width: 540px; }
}

@media screen and (width >= 768px) {
    :root { --container-width: 720px; }
}

@media screen and (width >= 992px) {
    header nav {
        max-width: var(--container-width);
    }
    :root { --container-width: 960px; }
}

/* TODO: This MQ is unconventional */
@media screen and (width >= 960px) {
    .block .background .mobile-only,
    .block .background .tablet-only {
        display: none;
    }

    .block .background .desktop-only {
        display: block;
    }
  
    .animation-scale:hover {
        transform: scale(1.05);
    }

    .grid-section {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media screen and (width >= 1200px) {
    :root { --container-width: 1140px; }
}

@media screen and (width >= 1400px) {
    :root { --container-width: 1320px; }
}
