/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --light-color: #f8f8f8;
  --light-gray: #f8f9fa;
  --soft-gray: #DBDBD6;
  --soft-white: #FCFCFA;
  --medium-gray: #DADADA;
  --gold: #ffb800;
  --mustard: #cf9400;
  --secondary-btn-border: #2b4361;
  --secondary-btn-border-hover: #0A293B;
  --very-light-gray: #fcfcfc;
  --black-olive: #171714;
  --pure-white: #fff;
  --pure-black: #000;
  --primary-black: #171714;
  --secondary-brown: #e8e8e0;
  --credit-violet: #14A1C8;
  --credit-indigo: #2b4361;
  --button-bg-blue: #c4eefa;

  /* fonts */
  --body-font-family: 'Visibly Regular', visby-regular-fallback, sans-serif;
  --heading-font-family: 'Acceptance Bold', acceptance-bold-fallback, sans-serif;
  --ff-acceptance-demi-bold: 'Acceptance DemiBold', acceptance-demi-bold-fallback, sans-serif;
  --ff-acceptance-extra-bold: 'Acceptance ExtraBold', acceptance-extrabold-fallback, sans-serif;
  --ff-acceptance-medium: 'Acceptance Medium', acceptance-medium-normal-400-fallback, sans-serif;
  --ff-acceptance-regular: 'Acceptance Regular', acceptance-regular-fallback, sans-serif;
  --ff-arial: 'Arial', sans-serif;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 10px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 22px;
  --heading-font-size-s: 20px;

  /* font weights */
   --font-weight-light: 300;
   --font-weight-normal: 400;
   --font-weight-medium: 500;
   --font-weight-bold: 600;
   --font-weight-extra-bold: 700;

  /* nav height */
  --nav-height: 52px;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

picture {
  line-height: 0;
  display: block;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-style: none;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  scroll-margin: 40px;
}

h1 { 
  font-size: var(--heading-font-size-xxl);
  font-weight: var(--font-weight-extra-bold);
  line-height: 50px;
}

h2 { 
  font-size: var(--heading-font-size-l);
  font-family: var(--ff-acceptance-medium);
  margin-bottom: 0.75rem;
}

h3 { 
  font-size: var(--heading-font-size-m); 
  line-height: 24px;
  margin-bottom: 0.75rem;
}

h4 { 
  font-size: var(--heading-font-size-s);
}

h5 { 
  font-family: var(--ff-acceptance-regular);
  font-size: var(--heading-font-size-s); 
}
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

p {
  font-size: var(--body-font-size-m);
  line-height: 26px;
  color: var(--text-color);
}

.center {
  text-align: center;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  letter-spacing: .4px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  text-decoration: none;
  white-space: nowrap;
}

a.button.primary {
  background-color: var(--gold);
  color: var(--text-color);
  border: 1px solid rgba(255 255 255 0%);
  padding: .5rem 1.5rem;
  border-radius: .375rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--mustard);
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  border: 2px solid var(--secondary-btn-border);
  border-radius: 19px;
  background-color: var(--very-light-gray);
  color: var(--secondary-btn-border);
  padding: .3rem 2rem;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out; /* Add transition for smooth effect */
}

a.button.secondary:focus,
button.secondary:focus,
a.button.secondary:hover,
button.secondary:hover {
  box-shadow: 0 0 0 1px var(--secondary-btn-border-hover); /* Simulate border increase */
  color: var(--secondary-btn-border-hover);
}

a.button.primary.blue {
    background-color: var(--button-bg-blue);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

.marquee .background .tablet-only,
.marquee .background .desktop-only {
    display: none;
}

/* sections */
main > .section-outer > .section,
footer .section-outer > .section,
.block .container {
  max-width: 100%;
  margin: 40px auto;
}

main > .section-outer > .section.width-100 {
  max-width: 100%;
}

main > .section:first-of-type {
  margin-top: 0;
}

main > .section-outer > .section.width-75 > div {
  width: 75%;
}

@media screen and (width >= 576px) {
    main > .section-outer > .section,
    footer .section-outer > .section,
    .block .container {
        max-width: 540px;
    }
}

@media screen and (width >= 768px) {
    main > .section-outer > .section,
    footer .section-outer > .section,
    .block .container {
        max-width: 720px;
    }
}

@media screen and (width >= 992px) {
    main > .section-outer > .section,
    footer .section-outer > .section,
    header nav,
    .block .container {
        max-width: 960px;
    }
}

/* TODO: This MQ is unconventional */
@media screen and (width >= 960px) {
    .block .background .mobile-only,
    .block .background .tablet-only {
        display: none;
    }

    .block .background .desktop-only {
        display: block;
    }
}

@media screen and (width >= 1200px) {
    main > .section-outer > .section,
    footer .section-outer > .section,
    header nav,
    .block .container {
        max-width: 1140px;
    }
}

@media screen and (width >= 1400px) {
    main > .section-outer > .section,
    footer .section-outer > .section,
    header nav,
    .block .container {
        max-width: 1320px;
    }
}

.animation-scale {
  transform: scale(1);
  transition: transform 0.15s ease-in-out;
}

@media (width >= 960px ) {
  .animation-scale:hover {
    transform: scale(1.05);
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
    background-color: var(--light-color);
    margin: 0;
    padding: 40px 0;
}
